# Xcode
*.xcodeproj/
*.xcworkspace/
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# macOS
.DS_Store

# SPM
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Codemagic
codemagic.yaml.local
